{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:700%7CNunito:300,600" rel="stylesheet">

		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

		<!-- Font Awesome Icon -->
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="{% static 'js/html5shiv.min.js' %}"></script>
		  <script src="{% static 'js/respond.min.js' %}"></script>
		<![endif]-->
<style>
    .mx-auto{
        margin-left: 30% !important;
        margin-right: 30% !important;
        margin-bottom: auto !important;
        margin-top: 20% !important;
    }
</style>
</head>
<body>
<div class="container">
    <div class="col-md-4 col-md-offset-1 mx-auto">
        <div class="section-row">
            <h3>Log In</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="primary-button" type="submit">{% trans 'Sign In' %}</button>
            </form>
            <br>
            <h4><a href="{% url 'accounts:registration' %}">Don't have an account?</h4>
        </div>
    </div>
</div>
</body>
</html>