{% extends 'index.html' %}
{% load i18n %}
{% block thumb %}
{% endblock %}
{% block content %}
<div class="col-md-6 col-md-offset-1">
						<div class="section-row">
							<h3>{% trans 'Are you shure, that you want to delete a post?' %}</h3>
							<form method = "post" enctype="multipart/form-data">
								{% csrf_token %}
								<div class="row">
									    <button class="primary-button" type="submit">
												{% trans 'Yes' %}
										</button>
                                    <a href="{% url 'mainpage:list' %}">
										<button class="primary-button" type="button">
												{% trans 'Now' %}
										</button>
                                    </a>
                                </div>
							</form>
						</div>
</div>
{% endblock %}